{% extends "templates/layout.njk" %}

{% set title="Not Found" %}

{% set stylesheet="./stylesheets/base.css" %}

{% block content %}
    <div class="container">
        <h1>404 Not Found</h1>
        <p>
            You're looking for something I can't locate.
        </p>
    </div>
{% endblock %}