{% extends "templates/layout.njk" %}

{% set title="Home" %}

{% block content %}
    <div class="container">
        <h1>404 Not Found</h1>
        <p>
            You're looking for something that I can't locate.
        </p>
    </div>
{% endblock %}