{% extends "templates/layout.njk" %}

{% set title="Home" %}

{% set stylesheet="./stylesheets/base.css" %}

{% block content %}
    <div class="container">
        <h1>About</h1>

        <p>Jess Leigh Unrein(they/them) is a software engineer and writer in Chicago.</p>
        <p><img class="cat-img" src="{{ loc }}/images/face2022.png" alt="Obligatory Selfie"></p>

        <p>Sign up for my <a href="http://eepurl.com/hg2aZr" title="newsletter-signup">newsletter</a> to keep up with me, receive an occasional link roundup of things I found interesting, and cat pictures.</p>


        <h2>Contact</h2>
        <ul>
            <li>Email: <a href="mailto:j.l.unrein+contact@gmail.com">j.l.unrein+contact@gmail.com</a></li>
            <li>Twitter: <a href="https://twitter.com/thejessleigh">@thejessleigh</a></li>
            <li>itch.io: <a href="https://thejessleigh.itch.io">@thejessleigh</a></li>
            <li>Mail:
            <br>
            Jess Leigh Unrein
            <br>
            P. O. Box 60040
            <br>
            Chicago, IL 60660
            </li>
        </ul>

        <h2>Newsletter</h2>
        <p>
            The best way to keep in touch is via my newsletter! I send out personal updates, link roundups, and cat pictures.
        </p>
        <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://jessunrein.us2.list-manage.com/subscribe/post?u=02d598d65c3bfb4700bc29df4&amp;id=c14ab794ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
</div><div class="mc-field-group input-group">
    <strong>Email Format </strong>
    <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
<li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02d598d65c3bfb4700bc29df4_c14ab794ce" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


    </div>
    {#<h2>"No body, no mind, no soul," the whispers congealed around her. Sticky, like a fog.</h2>#}

{% endblock %}