{% extends "templates/_now.njk" %}

{% set date="2018 November 15" %}

{% set prev_date="oct2018" %}

{% set stylesheet="./stylesheets/base.css" %}


{% block upto %}

    <p>I'm busy acclimating to my new job at ActiveCampaign and living that gallbladder-free lifestyle.</p>

{% endblock %}

{% block upcoming %}
    <p>
        I'll be at PyCon in May. Come say hi! Otherwise, I'm just living my day to day life, nothing too exciting.
    </p>
{% endblock %}


{% block hair %}
    <p>
        My hair is back to purple and such. I got it done in August before a couple of weddings I attended, but I'm starting to get a bit tired of it. I think I liked the blue better.
    </p>

    <p>
        It needs to get redone soon, but I have no idea what direction to go with it.
    </p>
{% endblock %}

{% block additional %}
    <h1>Anything else? Maybe some cat news?</h1>
    <p>
        I got two beautiful fuzzy boys in January 2019. The tuxedo cat is named Darien, after Tuxedo Mask from Sailor Moon. The fluffy grey one is named Aleister Meowley. They are my floofy loves.
    </p>
    <img src="">

{% endblock %}