{% extends "templates/_now.njk" %}

{% set date="2019 September 04" %}

{% set prev_date="march2019" %}

{% set stylesheet="./stylesheets/base.css" %}


{% block upto %}

    <p>I've been at my current job for a couple months now and it's going great. I'm ready for fall.</p>

{% endblock %}

{% block upcoming %}
    <p>
        I'll be in Denver later this month for a wedding, and again in November and December for the holidays. And again in February for another wedding. Someday I would love to do an Amtrak vacation to New Orleans. Just.....not for Mardi Gras.
    </p>
{% endblock %}


{% block hair %}
    <p>
       I cut about 18 inches off of my hair! It's a whole thing. Haven't gotten a good picture yet, but one is coming soon, I swear.
    </p>
    <p>
        It's still blue and purple. I'm really enjoying the cool side of the color wheel.
    </p>
{% endblock %}

{% block additional %}
    <h1>Anything else? Maybe some cat news?</h1>
    <p>
        Aleister Meowley has an ear infection but is still fuzzy and sweet. Darien wakes me up at 5 in the morning pretty regularly and I still love him anyway, which tells you how cute he is.
    </p>
    <img src="./images/cats.jpg" class="cat-img" alt="Two cats sitting on a grey couch. The cat on the left is a fluffy medium hair grey cat staring into the camera. The cat on the right is a black cat with white socks who is laying down.">

{% endblock %}