{% extends "templates/_now.njk" %}

{% set date="2018 November 15" %}

{% set prev_date="oct2018" %}

{% set stylesheet="./stylesheets/base.css" %}


{% block upto %}

    <p>I'm busy acclimating to my new job at ActiveCampaign and living that gallbladder-free lifestyle.</p>

{% endblock %}

{% block upcoming %}
    <p>
        Join PyLadies and ChiPy at our <a href="https://www.meetup.com/Chicago-PyLadies/events/256247855/">winter mixer</a> on December 5th, hosted by ActiveCampaign!
    </p>
    <p>
        Also coming up: the Chicago Tech Diversity Initiative and PyLadies are cohosting Chicago diversity CFP day on March 2nd. Details coming soon.
    </p>
{% endblock %}


{% block hair %}
    <p>
        My hair is back to purple and such. I got it done in August before a couple of weddings I attended, but I'm starting to get a bit tired of it. I think I liked the blue better.
    </p>

    <p>
        It needs to get redone soon, but I have no idea what direction to go with it.
    </p>
{% endblock %}

{% block additional %}
    <h1>Anything else? Maybe some cat news?</h1>
    <p>
        I'm thinking of getting cats at the beginning of 2019. It's going to be super exciting.
    </p>

{% endblock %}