{% extends "templates/layout.njk" %}

{% set title="Portfolio" %}

{% block content %}

    <h2>Portfolio</h2>
    <p>
        Click the card for information about the project
    </p>

    <div class="project-container">
        {% include 'projects/_background-noise.njk' %}
        <div class="doodle js html css filterable" id="noise">
            <figure>
                <img src="images/project-cards/background-noise.jpg"
                     alt="Screenshot of a dark screen with several small colored dots in a seemingly random pattern"
                     class="project-card">
                <figcaption class="p-card-caption">Doodle: background noise of the universe</figcaption>
            </figure>
        </div>
        {% include 'projects/_simplybreathe.njk' %}
        <div class="doodle js html css filterable" id="breathe">
            <figure>
                <img src="images/project-cards/simplybreathe.jpg"
                     alt="Screenshot of deep breathing instructions accompanied by a gradient colored circle"
                     class="project-card">
                <figcaption class="p-card-caption">Doodle: Simply Breathe</figcaption>
            </figure>
        </div>
        {% include "projects/_confetti.njk" %}
        <div class="doodle js html css filterable" id="confetti">
            <figure>
                <img src="images/project-cards/confetti.jpg"
                     alt="Screenshot of a dark screen with multicolored bubbles and a transparent line of text saying 'click me'"
                     class="project-card">
                <figcaption class="p-card-caption">Doodle: Confetti Burst</figcaption>
            </figure>
        </div>
        {% include "projects/_dev.njk" %}
        <div class="writing python filterable" id="dev">
            <figure>
                <img src="images/project-cards/dev-logo.jpg" alt="Dev.to website logo" class="project-card">
                <figcaption class="p-card-caption">Writing published on Dev.to</figcaption>
            </figure>
        </div>
        {% include "projects/_mentoring.njk" %}
        <div class="talk filterable" id="mentoring">
            <figure>
                <img src="images/project-cards/mentoring.jpg"
                     alt="Title slide from The Art of Mentoring and Being Mentored" class="project-card">
                <figcaption class="p-card-caption">Talk: The Art of Mentoring</figcaption>
            </figure>
        </div>
        {% include "projects/_zen.njk" %}
        <div class="talk python filterable" id="zen">
            <figure>
                <img src="images/project-cards/zopip.jpg" alt="Title slide from The Zen of Python in Practice"
                     class="project-card">
                <figcaption class="p-card-caption">Talk: The Zen of Python in Practice</figcaption>
            </figure>
        </div>
        {% include "projects/_why.njk" %}
        <div class="talk python filterable" id="why">
            <figure>
                <img src="images/project-cards/why_python.jpg" alt="Title slide from Why Python?" class="project-card">
                <figcaption class="p-card-caption">Talk: Why Python?</figcaption>
            </figure>
        </div>
    </div>

    <div class="button-container">
        Click to filter by topic
        <button id="python">python</button>
        <button id="doodle">doodle</button>
        <button id="js">js</button>
        <button id="html">html</button>
        <button id="css">css</button>
        <button id="writing">writing</button>
        <button id="talk">talk</button>
    </div>

    <script src="js/modal.js"></script>
    <script src="js/tags.js"></script>

{% endblock %}
