{% extends "templates/layout.njk" %}

{% set title="Speaker Info" %}

{% set stylesheet="./stylesheets/speaker.css" %}

{% block content %}

        <h1>Speaker Info</h1>

        <p>
            I love connecting with people and sharing what I know! If you would like me to speak at your event, send me
            <a
                    href="mailto:j.l.unrein+contact@gmail.com">an email</a> or reach out to me on <a
                    href="https://twitter.com/thejessleigh">Twitter</a>.
        </p>

        <p>
            You can find a list of currently available talks on my <a href="/portfolio?tags=talk">portfolio</a>, and a
            list
            of previous speaking engagements at the bottom of this page.
        </p>

        <h2>Baseline expectations</h2>

        <h3>What you can expect from me as a speaker</h3>
        <ul>
            <li>I will be prompt, prepared, and personable.</li>
            <li>I will bring my own laptop with an HDMI connector. I use <a href="https://deckset.com">Deckset</a> and
                make
                all my slides available on <a href="https://github.com/thejessleigh/talks">Github</a>.
            </li>
            <li>If you need me to use someone else's machine to present, I will use Google Slides.</li>
            <li>I will promote the heck out of your conference hashtag on Twitter, and encourage the audience to
                livetweet.
                I will livetweet any presentations I attend unless directed otherwise.
            </li>
        </ul>


        <h3>What I expect if I speak at your event</h3>
        <ul>
            <li>Your event has a <a href="https://en.wikipedia.org/wiki/Code_of_conduct">Code of Conduct</a> and a team
                dedicated to enforcing it.
            </li>
            <li>Speakers are compensated if you charge attendees. I only speak without a fee at free community events.
            </li>
            <li>If I am on a panel, I will not be the only nonbinary person or woman. The panel will not be entirely
                white.
            </li>
            <li>If I am expected to present on a machine that is not my own, or your setup cannot accommodate an HDMI
                connection, you will give me at least one week's notice.
            </li>
        </ul>

        <h2>Bios</h2>

        <h3>Short</h3>
        <p>Jess Unrein is a Chicago based Software Engineer and a PyOhio organizer.</p>

        <h3>Medium</h3>
        <p>Jess Unrein is a Chicago based software engineer who helps organize PyOhio. They are also a writer,
            public speaker, and community organizer.</p>

        <h3>Long</h3>
        <p></p>
        <p>Jess Unrein is a software engineer with a passion for Python and community organizing. They are based in Chicago and they help organize PyOhio, the Midwest's largest Python conference.
        In their spare time they also write about tech on <a href="https://dev.to">dev.to</a>, give talks at local meetups, write zines, and hang out with their cats.</p>

        <p>They originally studied Political Science and Music in college. After a brief stint with AmeriCorps and Mile High United Way, they attended Dev Bootcamp (RIP) and never looked back. Now they want to help other nontraditional learners succeed in the field of software development.</p>

        <h2>Previous Speaking Engagmenets</h2>
        <p>Click a section to expand</p>

        <button class="collapsible">Meetup Appearances +</button>
        <div class="talk-table">
            <table>
                <thead>
                <tr>
                    <td>Event</td>
                    <td>Talk</td>
                    <td>Location</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="https://www.meetup.com/_ChiPy_/events/257467417/">ChiPy January 2019</a></td>
                    <td>Three Python Nuances I Wish I'd Known Earlier</td>
                    <td>Chicago, IL</td>
                    <td>January 10, 2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.meetup.com/DevTogetherChi/events/257265309/">Dev Together Chi</a></td>
                    <td>Three Things to Learn the Hard Way</td>
                    <td>Chicago, IL</td>
                    <td>January 8, 2019</td>
                </tr>
                <tr>
                    <td><a href="https://generalassemb.ly/education/women-in-tech-breakfast/chicago/33739">Women in Tech
                            Breakfast</a></td>
                    <td>Panelist: Breaking into a new field as a woman</td>
                    <td>Chicago, IL</td>
                    <td>April 7, 2017</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.meetup.com/Chicago-DevBootcamp-Chicago-Speakers-and-Workshop-Series/events/238220559/">Celebrating
                            Women's History Month: Empowering and Inspiring Lightning Talks</a></td>
                    <td>Nasty Woman or: How I Learned to Stop Worrying and Love Being Abrasive</td>
                    <td>Chicago, IL</td>
                    <td>March 30, 2017</td>
                </tr>
                <tr>
                    <td><a href="https://generalassemb.ly/instructors/jess-unrein/6166#previously-taught">The Road to
                            Code</a></td>
                    <td>Why Python?</td>
                    <td>Chicago, IL</td>
                    <td>May 24, 2016</td>
                </tr>
                <tr>
                    <td><a href="https://generalassemb.ly/instructors/jess-unrein/6166#previously-taught">A Day in the
                            Life
                            of a Jr. Web Developer</a></td>
                    <td>Panelist</td>
                    <td>Chicago, IL</td>
                    <td>July 2015</td>
                </tr>
                </tbody>
            </table>
        </div>

        <button class="collapsible">Conference Talks +</button>
        <div class="talk-table">
            <table>
                <thead>
                <tr>
                    <td>Event</td>
                    <td>Talk</td>
                    <td>Location</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="https://2017.writespeakcode.com">Write/Speak/Code 2017</a></td>
                    <td>Panelist: Invisible Illness in Tech</td>
                    <td>Portland, OR</td>
                    <td>August 26, 2017</td>
                </tr>
                <tr>
                    <td><a href="https://www.pyohio.org">PyOhio 2017</a></td>
                    <td><a href="https://www.pyohio.org/schedule/presentation/276/">The Art of Mentoring and Being
                            Mentored
                            (because we are all always both)</a></td>
                    <td>Columbus, OH</td>
                    <td>July 29-30, 2017</td>
                </tr>
                <tr>
                    <td><a href="http://www.chicagocoderconference.com/">Chicago Coder Conference</a></td>
                    <td>
                        <a href="http://www.chicagocoderconference.com/sessions/the-zen-of-python-in-practice-balancing-idealism-with-production-concerns/">The
                            Zen of Python In Practice: Balancing Idealism with Production Concerns</a></td>
                    <td>Chicago, IL</td>
                    <td>June 27, 2017</td>
                </tr>
                <tr>
                    <td><a href="http://codelandconf.com">Codeland 2017</a></td>
                    <td><a href="http://codelandconf.com/speakers/jess-unrein/">Write Your Resume Like a Fanfic</a>
                        (Workshop)
                    </td>
                    <td>New York, NY</td>
                    <td>April 22, 2017</td>
                </tr>
                <tr>
                    <td><a href="https://sites.google.com/site/iwd2017chi/">Women Techmakers International Women's Day
                            Summit
                            2017</a></td>
                    <td>Panelist: Community Empowerment Through Technology</td>
                    <td>Chicago, IL</td>
                    <td>April 8, 2017</td>
                </tr>
                <tr>
                    <td><a href="https://pyohio.org/">PyOhio 2016</a></td>
                    <td><a href="http://pyvideo.org/pyohio-2016/python-logging-a-meditation-on-silent-failures.html">Python
                            Logging: A medidation on silent failures</a></td>
                    <td>Columbus, OH</td>
                    <td>July 30, 2016</td>
                </tr>
                </tbody>
            </table>
        </div>

    <script src="./js/collapsible.js"></script>

{% endblock %}