{% extends "templates/layout.njk" %}

{% set title="Speaker Info" %}

{% block content %}

    <h1>Speaker Info</h1>

    <p>
        I love connecting with people and sharing what I know! If you would like me to speak at your event, send me <a
                href="mailto:j.l.unrein+contact@gmail.com">an email</a> or reach out to me on <a
                href="https://twitter.com/thejessleigh">Twitter</a>.
    </p>

    <p>
        You can find a list of currently available talks on my <a href="/portfolio?tags=talk">portfolio</a>, and a list
        of previous speaking engagements at the bottom of this page.
    </p>

    <h2>Baseline expectations</h2>

    <h3>What you can expect from me as a speaker</h3>
    <p>
    <ul>
        <li>I will be prompt, prepared, and personable.</li>
        <li>I will bring my own laptop with an HDMI connector. I use <a href="https://deckset.com">Deckset</a> and make
            all my slides available on <a href="https://github.com/thejessleigh/talks">Github</a>.
        </li>
        <li>If you need me to use someone else's machine to present, I will use Google Slides.</li>
        <li>I will promote the heck out of your conference hashtag on Twitter, and encourage the audience to livetweet.
            I will livetweet any presentations I attend unless directed otherwise.
        </li>
    </ul>
    </p>

    <h3>What I expect if I speak at your event</h3>
    <p>
    <ul>
        <li>Your event has a <a href="https://en.wikipedia.org/wiki/Code_of_conduct">Code of Conduct</a> and a team
            dedicated to enforcing it.
        </li>
        <li>Speakers are compensated if you charge attendees. I only speak without a fee at free community events.</li>
        <li>If I am on a panel, I will not be the only nonbinary person or woman. The panel will not be entirely
            white.
        </li>
        <li>If I am expected to present on a machine that is not my own, or your setup cannot accommodate an HDMI
            connection, you will give me at least one week's notice.
        </li>
    </ul>
    </p>

    <h2>Bios</h2>

    <h3>Short</h3>
    <p>Jess Unrein is a Data Engineer at <a href="https://activecampaign">ActiveCampaign</a>.</p>

    <h3>Long</h3>
    <p>Placeholder text - decide on how to deal with pronouns.</p>


{% endblock %}