{% extends "templates/layout.njk" %}

{% set title="Writing" %}

{% set stylesheet="./stylesheets/base.css" %}

{% block content %}
    <div class="home-container">
        <div class="right-content">
            <h1>Writing</h1>
            <h2>Short Fiction</h2>
                <ul>
                    <li>"The Witch of St. Martin" - <a href="https://hivemindpress.itch.io/pirates-a-fan-zine">Pirates: A Fan Zine</a> group collaboration at Hivemind press</li>
                </ul>

            <h2>Games</h2>
                <ul>
                    <li><em><a href="https://thejessleigh.itch.io/decision-generator-2021">Decision Generator 2021</a></em></li>
                    <li><em><a href="https://thejessleigh.itch.io/try-not-to-smoke">try not to smoke</a></em></li>
                    <li><em><a href="https://thejessleigh.itch.io/decision-generator-2020">Decision Generator 2020</a></em></li>
                    <li><a href="https://john-r-harness.itch.io/exquisitegame">Exquisite Corpse ~~ <em>Unmoored | Funeral</em></a></li>
                </ul>
            <h2>Software</h2>
            <h3>Technical</h3>
                <ul>
                    <li><a href="https://dev.to/thejessleigh/three-python-nuances-i-wish-id-known-earlier-547c">Three Tricky Python Nuances</a></li>
                    <li><a href="https://dev.to/thejessleigh/different-types-of-testing-explained-1ljo">Different Types of Testing Explained</a></li>
                    <li><a href="https://dev.to/thejessleigh/dockerizing-a-simple-python-process-2gdk">Dockerizing a Simple Python Process</a></li>
                    <li><a href="https://dev.to/thejessleigh/essential-quality-of-life-terminal-improvements-4pa4">Essential Quality of Life Terminal Improvements</a></li>
                    <li><a href="https://dev.to/thejessleigh/quick-and-dirty-htaccess-for-small-personal-sites-2cfn">Quick and Dirty <code>.htaccess</code> For Small Personal Sites</a></li>
                    <li><a href="https://dev.to/thejessleigh/up-your-git-game-with---patch-5d33">Up your git game with <code>--patch</code></a></li>
                </ul>
            <h3>Community</h3>
                <ul>
                    <li><a href="https://web.archive.org/web/20161119140429/http://lorenamesa.com/code-debugging-the-gender-gap-a-retrospective.html">Live Tweeting Tech Events: Practical Tips and Tricks</a></li>
                    <li><a href="https://web.archive.org/web/20181022154728/https://broadstudies.tech/dev-bootcamp-eulogy/">Dev Bootcamp Eulogy</a></li>
                    <li><a href="https://web.archive.org/web/20181022154720/https://broadstudies.tech/two-year-retrospective-on-dev-bootcamp/">Two Year Retrospective on Dev Bootcamp</a></li>
                    <li><a href="https://web.archive.org/web/20161119140429/http://lorenamesa.com/code-debugging-the-gender-gap-a-retrospective.html">Code - Debugging the Gender Gap, A Retrospective</a> with <a href="https://lorenamesa.com">Lorena Mesa</a></li>
                </ul>
        </div>
    </div>

    {#<h2>"No body, no mind, no soul," the whispers congealed around her. Sticky, like a fog.</h2>#}

{% endblock %}