<div class="footer">
    <!-- <h3>She recalled her grandmother, who had also suffered incorporeality for a time in her twenties.</h3> -->
    <a href="https://twitter.com/thejessleigh"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="mailto:j.l.unrein+contact@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
    <a href="https://github.com/thejessleigh"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/jessunrein/"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a href="https://instagram.com/thejessleigh"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.pinterest.com/iamjessleigh/"><i class="fab fa-pinterest fa-2x" aria-hidden="true"></i></a>
    <a href="https://kitty.town/@thejessleigh"><i class="fab fa-mastodon fa-2x"></i></a>
</div>
