<div class="footer">
    <!-- <h3>She recalled her grandmother, who had also suffered incorporeality for a time in her twenties.</h3> -->
    <a href="https://twitter.com/thejessleigh" title="Twitter Logo Icon"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="mailto:j.l.unrein+contact@gmail.com" title="Mail Envelope Icon"><i class="fa fa-envelope fa-2x"></i></a>
    <a href="https://github.com/thejessleigh" title="Github Logo Icon"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/jessunrein/" title="LinkedIn Logo Icon"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a href="http://eepurl.com/hg2aZr" title="Newsletter Signup"><i class="fab fa-mailchimp fa-2x"></i></a>
</div>
