<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'templates/_head.njk' %}
	</head>
	<body>
		{% include 'templates/_nav.njk' %}
		<h1>"I have a body," she said, knowing full well that she did not.</h1>
		{% block content %}

		{% endblock %}

		{% include 'templates/_footer.njk' %}
	</body>
</html>
