<div class="hidden" id="{{ modalId }}">
    {#<div class="modal-content">#}
        <h2>{{ title }}</h2>
        <h3>Description</h3>
        {% block projectContent %}

        {% endblock %}
        <h3>Links</h3>
        {% block links %}

        {% endblock %}
        <p class="exit">Press the <code>esc</code> key or click the <code>x</code> at the top right corner of this box to exit.</p>
    {#</div>#}
</div>
