body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color:#808080;
}

.nav {
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}

.nav a {
    font-size:1.5rem;
}

.footer{
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
}

.footer a i{
    margin: 2rem;
}
