@import "./base.css";

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    width: 40%;
    height: auto;
    border-radius: 15%;
    border: 1px dotted #aaaaaa;
}

.p-card-caption {
    max-width: 40%;
    text-align: center;
    margin-left:0;
    padding-left:2.2rem;
}

.modal {
    position:fixed;
    left: 0;
    top: 0;
    width: 75%;
    height: 85%;
    background-color: #dddddd;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    padding: 5rem;
    width: 65%;
    height: 60%;
    border-radius: 5%;
}

.close-button {
    position: absolute;
    border: none;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    right: 0;
    /*margin-top: 10rem;*/
    /*margin-right:7rem;*/
}

.close-button:hover {
    background-color: #aaaaaa;
}

.show-modal{
    opacity: .98;
    visibility: visible;
    transform: scale(1) translate(10%, 10%);
    border-radius: 10%;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hide{
    display: none;
}

button {
    background: #eeeeee;
    border-radius:10%;
}

.clickable-image{
    display: inline;
    cursor: pointer;
}

.pushed {
    background: #aaaaaa;
}