@import "./base.css";

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    display:inline-grid;
}

.project img {
    max-width: 200px;
    border: 1px dotted #aaaaaa;
    height: auto;
    margin: 0;
    padding: 0;
}

.project img:focus,
.project img:hover,
.project img:active {
    opacity: 0.75;
}

.project button {
    background-color: #dadada;
    border: 1px dotted #aaaaaa;
    font-size: 14px;
    padding: 5px 5px;
    margin-top: 5px;
    max-width:150px;
}

.project button:focus,
.project button:hover,
.project button:active {
    background-color: #aaa;
}

/* needed for old browsers */
dialog {
    display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
    overflow: hidden;
}

/* overlay covers everything */
.simple-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: 666; /* satan inside */
    cursor: pointer;
}

/* modal */
.simple-modal {
    position: fixed;
    left: 15%;
    top: 5%;
    width: 70%;
    max-height: 98vh;
    right: auto;
    border: 2px solid #000;
    background: #fff;
    z-index: 667;
    padding: 2em;
    overflow: auto;
}
.simple-modal-close {
    float: right;
    background: #00008b;
    border-radius: 1em;
    color: #fff;
    padding: .25em;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
}
.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
    background: #483d8b;
}
.simple-modal-overlay[data-background-click="disabled"] {
    cursor: auto;
}

/* for this example: tablets */
@media (max-width: 55.625em) {

    .simple-modal {
        left: 5%;
        top: 5%;
        bottom: 5%;
        width: 90%;
    }

}

/* for this example: mobile */
@media (max-width: 44.375em) {

    .simple-modal {
        left: 1%;
        top: 1%;
        max-width: 80%;
        bottom: 1%;
        padding:1em;
    }

    .project img {
        max-width:150px;
    }

}