{% extends "templates/_now.njk" %}

{% set date="2018 March 22" %}

{% set prev_date="nov2017" %}

{% set stylesheet="../stylesheets/base.css" %}

{% block upto %}

    <p>I had some pretty ambitious goals at the end of 2017. Unfortunately, it's part of a pattern of me overextending myself and then crashing. Hard. My theme for 2018 so far has been "less is more."</p>
    <p>I'm trying to get into the office earlier, leave earlier, and spend more quality time with my friends and my cat. It's been a smashing success so far.</p>
    <p>This is my second year helping organize <a href="https://www.pyohio.org">PyOhio</a>, the Midwest's best Python conference. It's a joy and a perfect venue for new speakers. The <a href="https://www.pyohio.org/2018/program/call-for-proposals">CFP</a> is open. You should pitch a talk (<em>yes, you</em>).</p>
    <p>I might start working on a couple of my side projects like <a href="https://github.com/thejessleigh/bookpinions">Bookpinions</a> and <a href="https://github.com/thejessleigh/test_driven_python">Test Driven Python</a> again soon. Then again, I might not.</p>
    <p>I'm reading a lot of <a href="http://www.scp-wiki.net/">SCP Foundation</a> stuff. It brings me joy.</p>

{% endblock %}

{% block upcoming %}
    <li><a href="http://stephanie.slattery.website">Stephanie Slattery</a> and I are still working on putting together the second <a href="http://superfunfriends.zone">Super Fun Friends Zone</a> mini-conference. The tentative theme is hot takes and rants. More info coming soon.</li>
    <li>I've been reading some, but not as much as I like. I want to double down on my reading time and actually hit my 52 book goal for this year. I'm 4 books behind schedule, which is a manageable gap to close.</li>
    <li>I still really want to work through my backlog of kickstarted games. <a href="http://www.magpiegames.com/category/bluebeards-bride/">Bluebeard's Bride</a> and <a href="http://www.eddlyt.com/windermere/">By the Author of Lady Windermere's Fan</a> are high up on my list. If you live in the Chicago area and want to play games, <a href="https://twitter.com/JLUnrein">tweet at me</a>.</li>
{% endblock %}


{% block hair %}
    <p>
        I got it done in January and it's more purple than before! We mixed some blue into the ends to cancel out the magenta that was there before. I still have the pink at the nape of my neck, but it's starting to fade.
    </p>

    <p>
        Also, I have recently started wearing hats.
    </p>
{% endblock %}

{% block additional %}
    <h1>How is your cat?</h1>
    <p>
        Fitz is doing great! A few friends have been over in the last few weeks, so he's gotten to meet new people and smell new interesting smells. He loves the large knit blanket I got for Christmas and his catnip banana.
    </p>
    <p>
        <img src="{{ loc }}/images/fitz_banana.JPG" alt="Photo of a grey cat on a kit blanket gripping a cloth banana full of catnip">
    </p>

{% endblock %}