{% extends "templates/project_modal.njk"%}

{% set modalId = "noise-modal" %}

{% set title = "Background Noise of the Universe" %}

{% block projectContent %}
    <p>
        Doodle I made for #Codevember 2018 Day 1 - Infinity. Dots clean up after themselves when they float
        offscreen. If total number of active dots exceeds 1.5x the starting number of dots, excess dots are
        cleaned up so as to maintain performance in the browser.
    </p>
{% endblock %}

{% block links %}

{% endblock %}
