https://github.com/thejessleigh/betterreads

{% extends "templates/project_modal.njk" %}

{% set modalId = "betterreads-modal" %}

{% set title = "BetterReads" %}

{% block projectContent %}
    <p>
        <a href="https://pypi.org/project/betterreads/">BetterReads</a> is a Python package available on PyPi that provides a user friendly interface for the <a href="https://www.goodreads.com/api">Goodreads API</a>. Unfortunately, the Goodreads API is now defunct, so I have archived the repository.
    </p>
{% endblock %}

{% block links %}
    <p>
        View the public archive of the code <a href="https://github.com/thejessleigh/betterreads">on Github</a>.
    </p>
{% endblock %}
