{% extends "templates/project_modal.njk" %}

{% set modalId = "dbc-modal" %}

{% set title = "Writing For and About Dev Bootcamp" %}

{% block projectContent %}
    <p>
        I attended Dev Bottcamp in Q1 of 2014, and in the years between my graduation and Dev Bootcamp's close, I wrote for and about Dev Bootcamp a couple of times.
    </p>

{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="https://web.archive.org/web/20181022154728/https://broadstudies.tech/dev-bootcamp-eulogy/">Dev Bootcamp Eulogy</a>
        </li>
        <li>
            <a href="https://web.archive.org/web/20181022154720/https://broadstudies.tech/two-year-retrospective-on-dev-bootcamp/">Two Year Retrospective on Dev Bootcamp</a>
        </li>
        <li>
            <a href="https://web.archive.org/web/20161119140429/http://lorenamesa.com/code-debugging-the-gender-gap-a-retrospective.html">CODE: Debugging the Gender Gap, A Retrospective</a>* 
        </li>
    </ul>
    <strong>*</strong> This post was originally written for Dev Bootcamp's blog and cross posted to Lorena Mesa's website. The Dev Bootcamp blog was not preserved on the wayback machine.

{% endblock %}
