{% extends "templates/project_modal.njk" %}

{% set modalId = "pyvideo-modal" %}

{% set title = "PyVideo Data" %}

{% block projectContent %}
    <p>
        <a href="https://pyvideo.org">PyVideo.org</a> is an index of Python related media. Many people do not have the resources (whether that be time, money, nearby user groups, etc.) to attend Python informational and educational events. PyVideo.org is a freely available index of freely available resources that seek to provide everyone with the opportunity to learn about Python.
    </p>

    <p>
        I am a frequent contributor to the data indexed by PyVideo, and the #5 contributor to the pyvideo/data repo as of March 2019.
    </p>
{% endblock %}

{% block links %}
    <p>
        View the code <a href="https://github.com/pyvideo/data">on Github</a> or see the project in action <a href="https://pyvideo.org">here</a>.
    </p>
{% endblock %}
