{% extends "templates/project_modal.njk" %}

{% set modalId = "syjl-modal" %}

{% set title = "So You Just Learned" %}

{% block projectContent %}
    <p>
       So You Just Learned is a community resource that catalogues instances of discrimination in the tech industry. It's meant to be a broad overview, not a comprehensive resource,
        designed to be an accessible entry point for folks not familiar with the history of some of tech's unseemly issues.
    </p>

    <p>
        I am a core maintainer on the project and helped compile many of the initial resources.
    </p>
{% endblock %}

{% block links %}
    <p>
        View the project <a href="https://github.com/sublimemarch/so-you-just-learned">on Github</a>.
    </p>
{% endblock %}
