{#https://github.com/thejessleigh/talks/blob/master/python_talks/why_python/why_python.pdf#}

{% extends "templates/project_modal.njk" %}

{% set modalId = "why-modal" %}

{% set title = "Why Python?" %}

{% block projectContent %}
    <p>
        This talk was originally given at General Assembly's <a
                href="https://generalassemb.ly/education/the-road-to-code/chicago/24393">
            Road to Code</a>.
        If you would like me to craft a version of this presentation for your conference or event, contact me via
        <a href="mailto:j.l.unrein+contact@gmail.com">email</a> or <a
                href="https://twitter.com/thejessleigh">Twitter.</a>
    </p>

    <h3>Abstract</h3>
    <p>
        Learning how to program can be a daunting task, especially if you're not sure which programming language to
        start with. This talk serves as a brief introduction to parts of Python's philosophy and features that make it
        great for beginners. From the Standard Library to a robust and active community, Python offers a solid
        foundation for anyone looking to get their sea legs while providing ample room to grow into an experienced
        software engineer.
    </p>

    <h3>Intended Audience</h3>

    <p>This talk is specifically geared toward people who want to learn to code, but haven't done significant practice
        or study yet.</p>
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="https://github.com/thejessleigh/talks/blob/master/python_talks/why_python/why_python.pdf">
                Slides
            </a>
        </li>
    </ul>

{% endblock %}
